{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-12">
        <h2>Willkommen auf der Organisationsseite für das FoBiWe 2014</h2>

        <div class="row">
            <div class="col-md-4">
                <p>
                    Über diese Seite werden wir dieses Jahr die Anmeldungen und Zimmereinteilungen durchführen.
                </p>
                <p>
                    Derzeit könnt ihr euch erst einmal anmelden. Die weiteren Funktionen werden dann nach und nach freigeschaltet. Darüber werdet ihr dann jeweils nochmal per Mail informiert.
                </p>
                <p>
                    Falls ihr Probleme mit der Benutzung dieser Seite habt, meldet euch bitte direkt bei Niklas (E-mail Adresse findet ihr in der Mitgliederliste).
                </p>
                {% if current_user.is_anonymous() %}
                <p>
                        <a href="{{ url_for('login') }}" class="btn btn-primary btn-lg" role="button">Anmelden</a>
                </p>
                {% endif %}
            </div>
            <div class="col-md-8">
                <img class="img-responsive img-rounded" src="{{ url_for('static', filename='img/liborihof.jpg') }}"/>
            </div>

        </div>

</div>
{% endblock %}
