{% extends "base.html" %}
{% block rooms_active %}class="active"{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        <div class="row">
       {% for r in rooms %}
                <div class="col-md-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">Zimmer Nummer {{ r.number }} ({{ r.capacity }} Betten)</div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-md-8">
                                {% for u in r.users %}
                                    <span class="label label-info">{{ u.first_name }} {{ u.last_name}}</span>
                                {% endfor %}
                                {% for i in range(r.capacity - r.users|length) %}
                                    <span class="label label-success">Frei</span>
                                {% endfor %}
                                </div>
                                <div class="col-md-4">
                                    <a class="btn btn-primary" href="{{ url_for('room_detail', room_id=r.id) }}">Bearbeiten</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
       {% endfor %}
            </div>
    </div>
</div>
{% endblock %}
