{% extends "base.html" %}
{% block userlist_active %}
    class="active"
{% endblock %}
{% block content %}
<div class="row">
    <div class="col-md-12">
        Folgende Mitglieder haben sich bisher angemeldet
        <table class="table">
            <thead>
                <th>Nr.</th>
                <th>Vorname</th>
                <th>Nachname</th>
                <th>Geschlecht</th>
                <th>E-Mail</th>
                <th>Qualifikation</th>
                <th>Tage</th>
                <th>Eigenes Auto</th>
                <th>Vegetarier</th>
            </thead>
            {% for user in users %}
            <tr>
                <td>{{ user.id - 1 }}</td>
                <td>{{ user.first_name }}</td>
                <td>{{ user.last_name }}</td>
                <td>{% if user.gender == "m" %}männlich{% else %}weiblich{% endif %}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.qualification }}</td>
                <td>
                    {% if user.friday %}X{% else %}-{% endif %}
                    {% if user.saturday %}X{% else %}-{% endif %}
                    {% if user.sunday %}X{% else %}-{% endif %}
                </td>
                <td>{% if user.own_car %}<span class="label label-success">Ja</span>{% else %}<span class="label label-danger">Nein</span>{% endif %}</td>
                <td>{% if user.vegetarian %}<span class="label label-success">Ja</span>{% else %}<span class="label label-danger">Nein</span>{% endif %}</td>
            </tr>
            {% endfor %}
        </table>
    </div>

</div>
{% endblock %}
